/*.app {*/
/*    margin: 0 auto;*/
/*}*/

/*.primary-color {*/
/*    color: #2F3C7E;*/
/*}*/

/*.secondary-color {*/
/*    color: #2D9CDB;*/
/*}*/

/*.font-light {*/
/*    font-weight: 300;*/
/*}*/

/*.font-heavy {*/
/*    font-weight: 500;*/
/*}*/

/*.small-text {*/
/*    font-size: 14px;*/
/*}*/

/*.upperCaseText {*/
/*    text-transform: uppercase;*/
/*}*/

/*a {*/
/*    text-decoration: none;*/
/*}*/

/*a:hover {*/
/*    cursor: pointer;*/
/*}*/

.text-res {
    font-size: 0.9rem;
}

@media (min-width: 576px) {
    .text-res {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .text-res {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .text-res {
        font-size: 1.2rem;
    }
}
