.links-container{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
}

.link-categories {
    margin: 20px 0;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
}

.link-tile {
    flex-grow: 1;
    max-height: 200px;
    max-width: 240px;
    background-color: #2D9CDB;
    border-radius: 5px;
}

.link-tile:hover {
    background-color: #777777;
    transform: scale(1.05);
    transition: transform .5s;
}

.tile {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 20px;
}

.tile-header {
    font-size: 30px;
}

.tile-body {
    font-size: 20px;
}

.tile span{
    color: #fff;
}