@media (min-width: 1024px) {
    .header-mobile-menu {
        display: none;
    }

    .header {
        width: 100%;
        position: sticky;
        top: 0;
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 20px 0px rgb(114, 114, 114);
        -moz-box-shadow: 0px 0px 20px 0px rgb(114, 114, 114);
        box-shadow: 0px 0px 20px 0px rgb(114, 114, 114);
        z-index: 999;
        display: flex;
        justify-content: center;
    }

    .header-details {
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }

    .logo {
        width: 100px;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: relative;
    }

    .nav-links a, .nav-links button {
        font-size: 20px;
        text-decoration: none;
        color: #333;
        text-transform: uppercase;
        margin: 5px;
        padding: 5px;
        transition: 0.5s;
        background-color: #fff;
        border: none;
    }


    .nav-links a:hover, .nav-links button:hover {
        border-bottom: 1px solid #2F3C7E;
        color: #2F3C7E;
    }

    .right-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .right-menu div {
        border: 1px solid #1a1c2d;
        border-radius: 2.5rem;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right-menu div:hover {
        cursor: pointer;
    }

    .nav-links-dropdown-menu {
        -webkit-box-shadow: 0px 0px 20px 0px rgb(114, 114, 114);
        -moz-box-shadow: 0px 0px 20px 0px rgb(114, 114, 114);
        box-shadow: 0px 10px 20px 0px rgb(114, 114, 114);
        z-index: 999;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        position: absolute;
        gap: 10px;
        top: 100px;
        padding: 0 15px;
        background-color: #2D9CDB;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .nav-links-dropdown-menu a {
        padding: 5px 5px;
        margin: 10px 0;
        text-transform: uppercase;
        color: #fff;
        font-size: 14px;
    }

    .nav-links-dropdown-menu a:hover {
        background-color: #2F3C7E;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .header-mobile-menu {
        display: none;
    }

    .header {
        width: 100%;
        position: sticky;
        top: 0;
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 20px 0px rgb(114, 114, 114);
        -moz-box-shadow: 0px 0px 20px 0px rgb(114, 114, 114);
        box-shadow: 0px 0px 20px 0px rgb(114, 114, 114);
        z-index: 999;
        display: flex;
        justify-content: center;
    }

    .header-details {
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }

    .logo {
        width: 100px;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: relative;
    }

    .nav-links a, .nav-links button {
        font-size: 16px;
        text-decoration: none;
        color: #333;
        text-transform: uppercase;
        margin: 5px;
        padding: 5px;
        transition: 0.5s;
        background-color: #fff;
        border: none;
    }


    .nav-links a:hover, .nav-links button:hover {
        border-bottom: 1px solid #2F3C7E;
        color: #2F3C7E;
    }

    .right-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .right-menu div {
        border: 1px solid #1a1c2d;
        border-radius: 2.5rem;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right-menu div:hover {
        cursor: pointer;
    }

    .nav-links-dropdown-menu {
        -webkit-box-shadow: 0px 0px 20px 0px rgb(114, 114, 114);
        -moz-box-shadow: 0px 0px 20px 0px rgb(114, 114, 114);
        box-shadow: 0px 10px 20px 0px rgb(114, 114, 114);
        z-index: 999;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        position: absolute;
        gap: 10px;
        top: 100px;
        padding: 0 15px;
        background-color: #2D9CDB;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .nav-links-dropdown-menu a {
        padding: 5px 5px;
        margin: 10px 0;
        text-transform: uppercase;
        color: #fff;
        font-size: 14px;
    }

    .nav-links-dropdown-menu a:hover {
        background-color: #2F3C7E;
    }
}

@media (max-width: 431px) {
    .header {
        position: sticky;
    }

    .header-mobile-menu i {
        font-size: 32px;
    }

    div i {
        color: #2D9CDB;
    }

    .header-details {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        margin: 10px;
    }

    .nav-links {
        display: none;
    }

    .right-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 16px;
    }

    .right-menu div {
        border: 1px solid #1a1c2d;
        border-radius: 2.5rem;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-links-dropdown-menu-mobile {
        margin: 10px 0;
        background-color: #F2F2F2;
        flex-direction: column;
        text-transform: uppercase;
        font-size: 12px;
    }

    .dropdown-menu-mobile-container {
        margin: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-wrap: wrap;
        height: 180px;
    }

    .nav-links-dropdown-menu-mobile p {
        margin: 20px;
    }
}
