.section-news-container{
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
}

.section-news{
    width: 80%;
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.section-news .container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}


.section-news-title{
    margin: 0 0 20px 0;
}

