#news-btns{
    transform: translateY(-600%);
}

#single-news{
    animation-duration: 2s;
    animation-name: newsAnimation;
}

#single-news img{
    min-height: 170px;
    min-width: 130px;
}

#single-news:hover{

}

@keyframes newsAnimation {
    0%{
        opacity: 0;
        transition: ease 1s;
    }
    100%{
        opacity: 1;
    }
}